main .container {
  padding-left: 145px;
  padding-right: 151px;
}
main > .container:first-child {
  padding: 0;
  padding-top: 45px;
  margin-bottom: 0;
}
.prds {
  margin-bottom: 32px;
}
.prds-in-bsk {
  flex-basis: 100%;
}
.naming-columns {
  display: grid;
  grid-template-columns: auto [naming-start] 566px [naming-end] 52px;
}
.naming-columns-list {
  grid-column-start: naming-start;
  grid-column-end: naming-end;

  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}
.naming-columns-list li {
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.15em;
  list-style: none;
}
.name-game {
  grid-column: name-start / name-end;
}
.price-game {
  grid-column: price-start / price-end;
}
.count-game {
  grid-column: count-start / count-end;
}
.total-game {
  grid-column: total-start / total-end;
}
.prds-in-bsk .grad-brd {
  padding: 20px 0;
}
.prd-in-bsk {
  display: grid;
  grid-template-columns:
    [main-start] 26px [image-start] max-content [image-end] 38px
    [naming-start name-start] 170px [name-end] 80px [price-start]
    max-content [price-end] 96px [count-start] 64px [count-end] 70px [total-start]
    max-content [total-end naming-end] 40px [main-end];
  align-items: center;
}
.prd-in-bsk .product-img {
  width: 180px;
  height: 180px;
  grid-column-start: image-start;
  grid-column-end: image-end;
}
.prd-in-bsk .product-name,
.prd-in-bsk .product-price {
  font-size: 18px;
  letter-spacing: 0.15em;
  line-height: 200%;
  font-weight: 400;
}
.prd-in-bsk .product-name {
  grid-column-start: name-start;
  grid-column-end: name-end;
}
.prd-in-bsk .product-price {
  grid-column-start: price-start;
  grid-column-end: price-end;
}
.kolvo-tovarov {
  grid-column: count-start / count-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.minus,
.plus {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.vibor-kolvo {
  display: block;
  text-align: center;
  width: 24px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.total-price {
  grid-column-start: total-start !important;
  grid-column-end: total-end !important;
}
.Kupon-block {
  margin-bottom: 96px;
}
.Kupon {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;
}
.kupon-text {
  width: 257px;
  padding: 19px 0 19px 20px;
  border: 2px solid #000;
}
.kupon-text::placeholder {
  font-size: 12px;
  letter-spacing: 0.15em;
  font-weight: 400;
}
.btn-kupon {
  width: 205px;
  font-size: 18px;
  line-height: 200%;
  color: #fff;
  background-color: #000;
  justify-content: center;
}
.sub-zagalovok {
  font-size: 28px;
  line-height: 200%;
  font-weight: 500;
  letter-spacing: 0.15em;
  grid-column: charpter-start / charpster-end;
  grid-row: 1;
}
.form-block {
  display: grid;
  padding-top: 8px;
  padding-right: 42px;
  padding-bottom: 37px;
  padding-left: 18px;
  grid-template-columns:
    [charpter-start] 29px [col1-start]
    258px [charpter-end col1-end col2-start] 212px
    [col2-end col3-start] 346px [col3-end];
  grid-template-rows:
    [row1-start] max-content [row1-end row2-start] max-content
    [row2-end row3-start] max-content [row3-end];
  row-gap: 32px;
}
fieldset {
  margin-bottom: 96px;
}
.type-of-delivery {
  grid-column: col1-start / col1-end;
  grid-row: row2-start / row2-end;
}
.slayder {
  display: grid;
  row-gap: 20px;
}
.slayder label {
  font-size: 12px;
  font-weight: 300;
  line-height: 166%;
  letter-spacing: 0.15em;
  padding-left: 10px;
  /* Для позиционирования псевдоэлемента after */
  display: flex;
  justify-content: space-between;
}
.slayder label:nth-of-type(1)::after,
.slayder label:nth-of-type(2)::after,
.slayder label:nth-of-type(3)::after {
  content: "1 gas";
  display: inline-block;
  height: 100%;
  margin-left: auto;
}
.slayder label::before {
  /* Для более ровного позиционирования относительно текста */
  left: -6px;
  top: -2px;
  border: 2px solid #000;
}
#var-1:checked ~ .slayder label:nth-of-type(1)::before,
#var-2:checked ~ .slayder label:nth-of-type(2)::before,
#var-3:checked ~ .slayder label:nth-of-type(3)::before {
  background-image: url("../img/icons/black-circle.svg");
}
.poisk {
  display: flex;
  height: 30px;
  grid-column: col3-start / col3-end;
  grid-row: row2-start / row2-end;
}
.poisk-stroka {
  flex-basis: 100%;
  border: 2px solid #000;
  box-sizing: border-box;
  padding-left: 10px;
}
.dop-info {
  display: flex;
  flex-wrap: wrap;
  grid-column: col1-start / col3-end;
  grid-row: row3-start / row3-end;
}
.name-dop {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.15em;
  font-weight: 400;
}
.text-area {
  box-sizing: border-box;
  height: 140px;
  flex-basis: 100%;
  resize: none;
  outline: none;
  padding: 5px;
  border: 2px solid #000;
}
.polay {
  grid-column: col1-start / col2-end;
  grid-row: row2-start / row3-end;
  display: grid;
  grid-template-columns: repeat(2, 212px);
  column-gap: 29px;
  row-gap: 10px;
  align-items: end;
}
.polay-vvod {
  width: 212px;
  height: 30px;
  padding: 2px;
  border: 2px solid #000;
  box-sizing: border-box;
}
.pol-group {
  display: grid;
  row-gap: 4px;
}
.pol-group label {
  font-size: 12px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.15em;
}
.star {
  font-size: 10px;
  font-weight: 300;
  line-height: 200%;
  letter-spacing: 0.15em;
}
.sogl {
  grid-column: col3-start / col3-end;
  grid-row: row2-start / row3-end;
  display: grid;
  row-gap: 48px;
  align-items: center;
}
.sogl input {
  display: none;
}
.checkbox {
  font-size: 10px;
  letter-spacing: 0.15em;
  line-height: 200%;
  font-weight: 300;
  padding-left: 20px;
}
.checkbox::before {
  content: "";
  height: 14px;
  width: 14px;
  border: 2px solid;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  left: -8px;
  vertical-align: middle;
}
#ofert:checked + .checkbox::before,
#pers-data:checked + .checkbox::before {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/icons/black-rec.svg");
  background-size: 8px 8px;
}
.type-of-pay {
  grid-column: col1-start / col1-end;
  grid-row: row2-start / row3-end;
}
.type-of-pay .slayder label {
  justify-content: start;
}
#card-on:checked ~ .slayder label:nth-of-type(1)::before,
#card-off:checked ~ .slayder label:nth-of-type(2)::before,
#cash:checked ~ .slayder label:nth-of-type(3)::before {
  background-image: url("../img/icons/black-circle.svg");
}
#card-on ~ .slayder label:nth-of-type(1)::after,
#card-off ~ .slayder label:nth-of-type(2)::after,
#cash ~ .slayder label:nth-of-type(3)::after {
  content: none;
}
.about-pay {
  grid-column: col3-start / col3-end;
  grid-row: row2-start / row3-end;
}
.cnt2 {
  justify-content: center;
}
.btn-accept {
  width: 260px;
  height: 50px;
  justify-content: center;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.15em;
}

.btn-accept:hover {
  background: #000;
  color: #fff;
}
